/* src/pages/Homepage/components/Category.css */

@use "../../abstract/variables" as var;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  width: 100%;

  @media (max-width: 768px) {
    padding: 2rem 1rem;
    margin: 0;
  }
}

.category-heading {
  color: var.$color-primary;
  margin-bottom: 5rem;
  span {
    color: black;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  gap: 6rem 1rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1024px) and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 0.5rem;
  }

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 0.5rem;
  }
  @media (max-width: 667px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.2rem;
  }
  @media (max-width: 375px) {
    gap: 2.5rem 0.2rem;
  }
}

.category {
  text-align: center;
  padding: 20px;
  position: relative;
  @media (max-width: 768px) {
    padding: 10px;
    height: 10rem;
  }

  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

.image-container {
  background-color: var.$color-primary;
  border-radius: 60%;
  padding: 10px;
  width: 14rem;
  height: 7rem;
  @media (max-width: 768px) {
    width: 12rem;
    height: 6rem;
  }
  @media (max-width: 480px) {
    width: 10rem;
    height: 5rem;
  }

  @media (max-width: 375px) {
    width: 9.5rem;
    height: 4rem;
  }
}

.category img {
  position: absolute;

  bottom: 4rem;
  transform: translateX(-50%);
  width: 12rem;
  height: 11rem;

  @media (max-width: 768px) {
    width: 10rem;
    height: 8rem;
    // padding: 5px;
  }
  @media (max-width: 480px) {
    bottom: 4.5rem;
  }
  @media (max-width: 375px) {
    width: 9.5rem;
    // height: 7rem;
  }
}

.category p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
